@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    cursor: pointer;
}
.relative{
    position: relative;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
a{
    user-select: none;
    text-decoration: none;
}

.normal{
    background-color: #A8A77A;
}
.fire{
    background-color: #EE8130;
}
.water{
    background-color: #6390F0;
}
.electric{
    background-color: #F7D02C;
}
.grass{
    background-color: #7AC74C;
}
.ice{
    background-color: #96D9D6;
}
.fighting{
    background-color: #C22E28;
}
.poison{
    background-color: #A33EA1;
}
.ground{
    background-color: #E2BF65;
}
.flying{
    background-color: #A98FF3;
}
.psychic{
    background: #F95587;
}
.bug{
    background-color: #A6B91A;
}
.rock{
    background-color: #B6A136;
}
.ghost{
    background-color: #735797;
}
.dragon{
    background-color: #6F35FC;
}
.dark{
    background-color: #705746;
}
.steel{
    background-color: #B7B7CE;
}
.fairy{
    background-color: #D685AD;
}