@import "../variables.scss";

.search-container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    .input-container{
        width: 100%;
        max-width: 400px;
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 50px;
        background-color: #fff;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.091);
        border-radius: 10px;
        input {
            outline: none;
            padding: 0 10px;
            color: #aaa;
            border: none;
            background: transparent;
        }
        button {
            border: none;
            outline: none;
            background: linear-gradient(45deg,#A98FF3,#6390F0,#96D9D6);
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            padding: 0;
            border-radius: 0 10px 10px 0;
        }
    }
}